#chat-container {
    /*height: 100%;*/
    /*left: 0;*/
    /*right:0;*/
    /*bottom:0;*/
    /*top:0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    padding: 0;
    min-height: 100%;
    /*overflow: hidden;*/
    /*-webkit-overflow-scrolling: touch;*/
    /*-webkit-transform: translate3d(0, 0, 0);*/
}
#chat-bottom {height:0;clear:both;}
.chat {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 60px 15px 75px 10px;
    word-break: break-all;
    min-height: calc(100vh + 10px);
}
.chat-list {
    min-height:calc(100% + 10px);
}
.chat-row {
    margin-bottom : 10px;
}
.chat-row.selected {
    display:none;
}

.chat-row.chat-receive {
    padding-right: 30%;
}
.chat-row.chat-say {
    padding-left: 30%;

}
.chat-content {
    overflow: visible;
    zoom: 1;
    word-break: break-all;
}
.chat-clear {
    height: 0;
    clear:both
}
.chat-bubble {
    display: inline-block;
    padding: 8px 16px;
    margin: 0 0 5px 5px;
    line-height: 150%;
}
.chat-receive .chat-bubble {
    border-radius: 0 12px 12px 12px;
    background-color: white;
}

.chat-say .chat-bubble {
    float: right;
    word-break: break-all;
    max-width: 100%;
    border-radius:  12px 12px 0 12px;
    color:white;
    background: rgba(44, 44, 44, 1);
}

.chat-say.chat-suggestion .chat-bubble {
    background-color: rgba(44, 44, 44, 0.67);
}

.chat-say.chat-suggestion .chat-bubble:hover{
    background: rgba(44, 44, 44, 1);
}



.chat-title {
    padding: 5px 10px;
    font-size : 90%;
    color: #1f1f1f;
}
.chat-title span {
    display:inline-block
}
.chat-author {
    color : #2c2c2c;;
}
.chat-date {
    font-size: 90%;
    padding-left: 2em;
    color: grey;
}

.chat-input {
    position: absolute;
    bottom: 0;
    right:15px;
    left:15px;
    color: #2c2c2c;
}
.chat-input textarea {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 0;
    font-size: 1em;
    letter-spacing: .5px;
    font-weight: 400;
    /*border-radius: 15px;*/
    /*border: none;*/
    /*outline: none;*/
    /*box-shadow: 0 0 0 1px #d0d0d0 inset;*/
    /*line-height: 1.25em;*/
    resize:none;
}

.chat-system {
    font-size: 90%;
    text-align: center;
    padding: 0 20%;
    color:grey;
    margin-bottom:15px;
}



.chat-notice{
    color: orange;
    border-color: orange;
}

.chat-error {
    color: darkred;
    border-color: darkred;
}